doctype html
html
	head
		meta(charset='UTF-8')
		title SVN Hosting Report
		link(rel='stylesheet' href='report.css')
	body
		h1 SVN Hosting
		h3 Beanstalk
		h4 Features:
		ul
			li Inbrowser editing
			li SVN and Git hosting 
			li Advanced permissions
			li Update notifications
			li History of commits and files
			li Admins can request and assign code reviews
			li Two types of feedback: Issues and Discussions
			li Security: Requires strong passwords and IP-access restrictions
			li Backups are made every 60 seconds
			li Deploy code anywhere
		h4 Plans:
		dl
			dt Standard
			dd 1 user, 1 repository, 100 MB storage, Free
			dt Bronze
			dd 5 Users, 10 repositories, 3 GB storage, 3 servers/repo, $15 month
			dt Silver
			dd 20 Users, 25 repositories, 6 GB storage, 5 servers/repo, $25/month
			dt Gold
			dd 40 Users, 50 repositories, 12 GB storage, 10 servers/repo, $50/month
			dt Platinum
			dd 100 Users, 120 repositories, 60 GB storage, 20 server/repo, $100/month
			dt Diamond
			dd 200 Users, 300 repos, 60 GB storage, 40 servers/repo, $200/month
		h3 Assembla
		h4 Features:
		ul
			li Inbrowser editing
			li SVN, Git, and P4 hosting
			li Triple-redundant replication(saved to a live server, a failover server, and an offsite disaster revovery location)
			li 99.9% uptime
			li Syntax highlighting on changes
			li Advanced permissions
			li Track team progress
		h4 Plans:
		dl
			dt Free
			dd 1 space, unlimited users, unlimited repositories, 1 GB storage, repository-only
			dt Personal
			dd 2 spaces, 12 users, Unlimited repositories, 5 GB storage, $24/month, Workspace
			dt Group
			dd 10 spaces, 30 users, Unlimited repositories, 20 GB storage, $49/month, Workspace
			dt Professional
			dd 20 spaces, 50 users, Unlimited repositories, 40 GB storage, $99/month, Workspace
			dt Portfolio
			dd All workspace tools, Cross-project visibility and reporting, centralized delivarable management, dedicated account managers, unlimited workspaces, personal portal URL, $10/user/month
		h3 CloudForge
		h4 Features:
		ul
			li SVN and Git hosting
			li Bug and issue tracking
			li Wikis, discussion forums, and document management
			li Manage users and permissions
			li 99.9% uptime(professional plan only)
			li Backups, support, and global datacenters
		h4 Plans:
		dl
			dt Standard
			dl 5 user packs, unlimited project workspaces and private repositories, 1 user = 2GB storage, multi-tenant, No 99.9% uptime, email support only, $2/user/month
			dt Professional
			dl 5 user packs, unlimited project workspaces and private repositories, 1 user = 5GB storage, multi-tenant, 24x7 phone and live chat emergency support(can upgrade), $10/user/month
		h3 Rioux
		h4 Features:
		ul
			li Private repositories(can be changed to public)
			li Team collaboration
			li Unlimited users for free
			li Dailty Backups
			li Frequent multi-site backups, SSL, scalable servers, highly reponsive customer support
		h4 Plans:
		dl
			dt Free(only plan)
			dd 4 repos, 50 MB storage/repo, Unlimited users/repo
			dd If you donate $1, you get a credit. You can exchange one credit for 20 MB of storage or two credits for one repositories
		h3 ProjectLocker
		h4 Features:
		ul
			li Inbrowser editing
			li SVN and Git hosting
			li Automatic backups
			li Bug tracking
			li Wiki with attachments
			li Team collaboration
			li Notifications via email, Twitter, and Jabber
			li "Follow" files and get notified when it changes
			li 24/7 Server Monitoring and support
			li Data is stored on redundant disk arrays
			li Non-ProjectLocker personnel are not permitted shell access
			li Restriction by IP
		h4 Plans:
		dl
			dt Free
			dd 1 user, 1 project, 50 MB of storage
			dt Venture
			dd 5 users, 5 GB of storage, 5 projects, $19/month
			dt Equity
			dd 20 users, 10 GB of storage, unlimited projects, time tracking integrating, restrict access by IP, $49/month
			dt IPO
			dd 50 users, 25 GB of storage, unlimited storage, unlimited projects, time tracking integration, restrict by IP, $99/month
			dt Enterprise
			dd Advanced Auditing, 15-100+ GB of storage, unlimited projects, all IPO features, Custom SLA, Virtual Private Network, "Contact Us" for price

